<div class="body">
  <div class="container mt-5">
    <div class="input-field mb-3">
        <label for="exampleInput" class="form-label" i18n>Введите название библиотеки</label>
        <input [(ngModel)]="query" type="text" class="form-control" id="exampleInput" placeholder="Введите текст здесь">
    </div>

    <button
        (click)="ensureMosDataLibrariesTable()"
        type="button"
        class="btn btn-primary" i18n>Отправить</button>

    <div class="table-container">
        <table class="mos-data-table">
            <thead>
                <tr>
                    <th class="index-col" i18n>№</th>
                    <th class="name-col" i18n>Название</th>
                    <th class="address-col" i18n>Адрес</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mosData; let i = index"
                    (click)="goToDetailPage(item.global_id)"
                    (mouseenter)="hoveredRow = i"
                    (mouseleave)="hoveredRow = null"
                    [class.hovered]="hoveredRow == i"
                    [class.even-row]='i % 2 == 0'
                    class="row">
                    <td class="index-col">{{ item.Number }}</td>
                    <td class="name-col">
                        <div class="name-wrapper">
                          <span class="short-name" [innerHTML]="highlightText(item.Cells.ShortName)"></span>
                        </div>
                    </td>
                    <td class="address-col">
                        <div class="address-block">
                            <i class="fas fa-map-marker-alt"></i>
                            {{ item.Cells.ObjectAddress[0].Address }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!mosData?.length" class="no-data-message">
            <i class="fas fa-database"></i>
            <span i18n>Нет данных для отображения</span>
            <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </div>
  </div>

</div>
